body{
    background-color: cyan;
    font-family: Arial;
}
ol{
    font-size:36pt;

}
.special{
    font-style: italic;
    font-weight: bold;
    color: green;
}
img{
    width: 100px;
    height: 100px;
    display:inline-flex;
}